<div class="main-container" >
  <mat-progress-bar class="progress-bar" mode="indeterminate" *ngIf="is_loading"></mat-progress-bar>
  <div class="wrapper">
    <mat-card class="container-card" id="container">    
      <div class="scroll-content"
      infiniteScroll [infiniteScrollDistance]="scrollDistance" [infiniteScrollThrottle]="1000"
            [alwaysCallback]="true" (scrolled)="onListScroll()"
            [scrollWindow]="false" style="overflow-y: scroll;" id="container">
          <mat-card-header>
            <div class="banner-image" >
              <img [src]="marketplaceBannerImage" alt="" style="text-indent: -10000px" >          
              <div class="edit-image-section" (click)="imgInput && imgInput?.click()" *ngIf="shopPermission?.edit">
                <mat-icon>
                  add_a_photo
                </mat-icon>
                {{'edit_banner' | translate}}
                <input type="file" onclick="this.value=null" #imgInput id="upload_image" [hidden]="true" accept="image/*"
                  (change)="fileChangeEvent($event)" />
              </div>
            </div>
          </mat-card-header>
          <mat-card-header class="search-toolbar-row" sticky="yes">
            <div class="serarch-wrapper">
            <mat-icon class="search-icon" *ngIf="!isSearchText">search</mat-icon>
            <input #search_field type="search" [formControl]="filterGames" class="search-item" 
              placeholder="{{'search_games' | translate}}" >
            
              <div *ngIf="isSearchText && gamesObject.length" class="list-wrapper">
                  <span class="text-game">Games</span>
                  <mat-list role="list"  class="list-content">
                  <mat-list-item role="listitem" class="list-item" *ngFor="let game of gamesObject;let i=index;" 
                  (click)="navigateToShopPreview(game,'search')" >
                  <span class="game-name" >
                    {{game.game_name}} 
                  </span>  
                  |
                  <span class="category-name" >
                    {{game.game_category_name}}
                  </span> 
                  </mat-list-item> 
                    <mat-divider class="list-item-divider"></mat-divider>   
                  </mat-list>
              </div>
          
            <div *ngIf="isSearchText && !gamesObject.length" class="list-wrapper-msg">
                <div class="list-content">
                  <span class="lottie-animation">
                    <ng-lottie width='45px' height='46px' [options]="options">
                    </ng-lottie>
                  </span>
                    <div class="no-record-msg">
                    <span>
                          {{'shop_search_msg1' | translate}}
                    </span>
                      <span> 
                        {{'shop_search_msg2' | translate}}
                        </span>
                      <span>
                        {{'shop_search_msg3' | translate}} 
                        <a (click)="openLink()">request a game</a>
                          {{'shop_search_msg4' | translate}} 
                      </span>
                      </div>
                  </div> 
              </div>
            </div>
              <mat-toolbar class="toolbar search-wrapper">
              <div>
                <button mat-raised-button color="primary" class="btn-all">
                {{ 'all_upper' | translate}}
            </button>
              </div>
              <div class="divider"></div>
              <mat-form-field class="chip-form-field scrollable">
              <mat-chip-list style="height: 50px;">
                <div class="chips-container" >
                  <mat-chip *ngFor="let category of gameCategories" (click)="viewCategoryGames(category, false)">
                    {{category.category_name}}
                  </mat-chip>
                </div>
              </mat-chip-list>
            </mat-form-field>
          </mat-toolbar>
          </mat-card-header>
          <mat-card-content >
            <div class="game-container">
              <div *ngFor="let category of currentShopGameCategories;let i=index;">
                <div class="category-section" *ngIf="category.games?.length">
                  <span class="category-name">
                    {{category.category_name}}
                  </span>
                  <span class="category-view-all" (click)="viewCategoryGames(category, true)"
                    *ngIf="category?.games?.length >= showGameLength || storageService.getAccessType() === role.ADMIN">
                    {{'view_all' | translate}}
                  </span>
                </div>
                <div class="gameListGrid">
                  <mat-grid-list cols="{{breakpoint_shopHomePage}}" rowHeight="288px" [gutterSize]="'15px'"
                    *ngIf="category?.games?.length">
                    <mat-grid-tile *ngFor="let gameData of category?.games.slice(0,showGameLength)">
                      <mat-card class="mat-card-item"
                        style="width: 223px;height: 278px;box-shadow: none !important;background: transparent !important;">
                        <app-card-entity [cardData]="gameData" [totalGames]="category?.games.length" (addItem)="addMarketplaceGame($event)"
                          (editItem)="editShopGame($event)"  (positionChange)="changeShopGamePosition($event)"  (removeItem)="removeShopGame($event)"
                          (cardClicked)="navigateToShopPreview(gameData)"></app-card-entity>
                      </mat-card>
                    </mat-grid-tile>
                  </mat-grid-list>
                </div>
              </div>         
            </div>              
          </mat-card-content>
        </div>
    </mat-card>
  </div>  
</div>