<div class="main-container">
  <mat-toolbar class="small-toolbar" color="primary">
    <div *ngIf="!isSent; else add_header">
      Forgot Password
    </div>
    <ng-template #add_header>Check your email</ng-template>
  </mat-toolbar>
  <mat-progress-bar class="progress-bar" mode="indeterminate" *ngIf="is_loading"></mat-progress-bar>
  <section class="content" [ngClass]="{'disabled-style': is_loading}">
    <form #forgotPasswordForm="ngForm" class="form-wrapper" (ngSubmit)="!isSent ? resetPasswordRequest() : closeModal(false)">
      <div class="container">
        <div class="form-group department-container" *ngIf="!isSent">
          <label for="department"> Email Address</label>
          <input type="email" class="secondary-input" autocorrect="off" autocapitalize="off" spellcheck="false"
            id="email" name="useremail" placeholder="Email Address" name="email" [(ngModel)]="email" email required>
        </div>
        <div class="form-group department-container" *ngIf="isSent">
          <label for="department">
            Password has been reset. Please check your email.
          </label>
        </div>

        <p class="errorMsg" *ngIf="isError" [ngClass]="{'slideDown': isError}">{{errorMessage}}</p>
      </div>
      <div class="button-row">
        <div class="btn-right" *ngIf="!isSent">
          <button type="button" mat-button class="cancel-button" tabindex="-1"
            (click)="closeModal(false)">CANCEL</button>
        </div>
        <div>
          <button type="submit" mat-button [disabled]="!forgotPasswordForm.valid">
            <div *ngIf="!isSent; else other_content">
              PROCEED
            </div>

            <ng-template #other_content>OK</ng-template>

          </button>
        </div>
      </div>
    </form>
  </section>
</div>