<div class="main_container">
  <div class="wrapper">
    <mat-card class="container-card">
      <mat-card-header>
        <mat-toolbar class="toolbar">
          <mat-toolbar-row>
            <span class="title"><span
                class="">{{ selection.hasValue() ? globalService.showTextOnSelection(selection.selected.length, totalGroups, ('groups' | translate) ) : ('showing_all_groups' | translate) }}</span></span>
            <span class="spacer"></span>
            <button *ngIf="groupPermission && groupPermission?.add" class="add-group addEntity"
              matTooltip="{{'add_new_group' |translate}}" matTooltipPosition="below"
              (click)="presentGroupPopup(null, translate.instant('add_group'), 'addNewGroup')" mat-fab>
              <mat-icon>add</mat-icon>
            </button>
            <mat-icon class="toolbar-icon-color" *ngIf="selection.selected.length"
              matTooltip="{{'delete_groups' | translate}}" matTooltipPosition="left" (click)="confirmDeletion($event)">
              delete</mat-icon>
          </mat-toolbar-row>
          <mat-toolbar-row>
            <app-search class="search-container" style="width:100%" [filter_options]="filter_options"
              (filtersUpdated)="refreshListOnFilterChange($event)" [shouldAllowAddMore]="groups?.length"
              [dataSource]="dataSource?.data" [context]="context" (filterOptionUpdated)="filterOptionUpdated($event)"></app-search>
          </mat-toolbar-row>
        </mat-toolbar>
      </mat-card-header>
      <mat-progress-bar class="progress-bar" mode="indeterminate" *ngIf="is_loading"></mat-progress-bar>
      <mat-card-content>
        <div class="no_messages" *ngIf="!dataSource?.data.length">
          <p>{{is_loading ? ('please_wait' | translate) : ('no_record_found' | translate)}}</p>
        </div>
        <table aria-describedby="" mat-table [dataSource]="dataSource" class="responsive-table" matSort
          (matSortChange)="sortData($event)" matSortActive="group" matSortDirection="asc" matSortDisableClear
          *ngIf="dataSource?.data.length" [ngClass]="{'disabled-style': is_loading}">
          <ng-container matColumnDef="select">
            <th id="" mat-header-cell *matHeaderCellDef class="checkboxes select-all-checkbox">
              <mat-checkbox (change)="$event ? masterToggle() : null"
                [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()"
                *ngIf="groupPermission && groupPermission?.delete">
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let group" (click)="$event.stopPropagation();"
              class="checkboxes checkboxes-colors">
              <mat-checkbox color="primary" *ngIf="groupPermission && groupPermission?.delete"
                (change)="$event ? selection.toggle(group) : null" [checked]="selection.isSelected(group)">
              </mat-checkbox>
            </td>
          </ng-container>
          <ng-container matColumnDef="group">
            <th id="" mat-header-cell *matHeaderCellDef mat-sort-header>{{'group' | translate}} </th>
            <td mat-cell *matCellDef="let group"><label>{{'group' | translate}}</label>
              <p>{{group.group_name}}</p>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" class="header "></tr>
          <tr mat-row *matRowDef="let group; columns: displayedColumns;"
            (click)="presentGroupPopup(group, this.translate.instant('edit_group') , 'updateGroup')"
            [ngClass]="{'selected-row': (selection && selection.selected.indexOf(group) > -1),
            'notHandCursor' : groupPermission && !groupPermission.edit }">
          </tr>
        </table>
        <span class="spacer"></span>
      </mat-card-content>
      <mat-card-actions>
        <mat-paginator #paginator [length]="totalGroups" [pageSize]="noOfItemsPerPage" [pageSizeOptions]="pageSizeOptions"
          (page)="getGroupsOverPagination($event)">
        </mat-paginator>
      </mat-card-actions>
    </mat-card>
  </div>
</div>