.container {
    min-width: 400px;
    padding: 0;
    min-height: 150px;

    mat-toolbar {
        .spacer {
            flex: 1 1 auto;
        }
        
        .action-icon {
            padding: 0 14px;
            margin-right: 10px;
            cursor: pointer;
        }
    }

    .content {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;

        mat-icon {
            cursor: pointer;
            margin-right: 10px;
        }

        .slider {
            flex: 1;
        }

        .elapsed-time {
            min-width: 40px;
            width: 40px;
            justify-content: center;
            align-items: center;
            display: flex;
            margin-left: 10px;
        }
    }
}