@import '../../../../styles.scss';

.main-container-pinned-games {
    // max-height: 50vh;
    // height: 50vh;
    min-width: 280px;
    width: 600px;
    position: relative;
    overflow: hidden;

    @include media-breakpoint-down(sm) {
        min-width: 330px;
    }

    @include media-breakpoint-down(xs) {
        width: 330px;
    }

    .small-toolbar {
        height: 50px;
        font-size: 16px;
    }

    .close-icon {
        display: flex;
        flex: 1;
        justify-content: flex-end;
        align-items: center;
        cursor: pointer;
    }

    .content {
        display: flex;
        flex-direction: column;
        
        @include media-breakpoint-down(sm) {
            flex-direction: column;
            padding: 10px 0;
            align-items: center;
        }


        
        

        .footer {
            display: flex;
            justify-content: flex-end;
            padding: 6px 16px;
            background-color: $secondary_bg_color;
            position: sticky;
            z-index: 5;
            position: relative;
            .addButtonWrapper{
                position: absolute;
                bottom: 33px;
                left: 17px;
            }
            .disabledColor{
                background-color: gray !important;
            }
            .addGameBtn{
                width: 44px;
                height: 44px;
                background-color: #3856d1;
                color: #fff;
                /* padding: 5px 20px; */
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .button-row {
                width: 100%;
                display: flex;

                .btn-right {
                    margin-left: auto;
                }

                .cancel-button {
                    border: 0px;
                    // margin-right: 10px;
                    background: white;
                    cursor: pointer;
                }
            }
        }

        .disabled-style {
            cursor: progress;
            pointer-events: none;
            opacity: 1;
        }
    }
}


.repositionDocWrapper {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    
    .dragIndicator{
        width: 10%;
        @extend .center-align;
        img{
            width: 18px;
        }
    }
    .srno{
        width: 5%;
        span{
            font-family: $Roboto_Medium_font;
            font-size: 12px;
        }
        @extend .center-align;
    }
    .gameLogo{
        width: 15%;
        @extend .center-align;

        
    }
    .gameName{
        width: 47%;
        // @extend .center-align;
        text-align: left;
        span {
            // padding-left: 15px;
            font-family: $Roboto_Medium_font;
            font-size: 12px;
        }
    }
    .winRate{
        width: 15%;
        @extend .center-align;
        span {
            // padding-left: 15px;
            font-family: $Roboto_Medium_font;
            font-size: 12px;
        }

    }
    .closIcon{
        width: 5%;
        
        @extend .center-align;
        mat-icon{
            background: #AFB5BE;
            color: #fff;
            font-size: 14px;
            height: 15px;
            width: 15px;
            @extend .center-align;
            // display: flex;
            // align-items: center;
            // justify-content: center;
            cursor: pointer;
        }
    }
        
}

.re-games-list-wrapper{
    // padding: 10px 20px;
    // height: 480px;
    // overflow-y: scroll;
    margin-bottom: 20px;
    .titleHeader{
        display: flex;
        // margin-bottom: 10px;
        // padding: 0px 5px;
        padding: 10px 25px 0 25px;
        .header1{
            width: 10%;
        }
        .header2{
            @extend .center-align;
            width: 5%;
            span {
                // padding-left: 15px;
                font-family: $Archivo_Regular_font;
                font-size: 12px;
            }
        }
        .header3{
            width: 15%;
        }
        .header4{
            width: 46%;
            span {
                // padding-left: 15px;
                font-family: $Archivo_Regular_font;
                font-size: 12px;
            }
        }
        .header5{
            width: 15%;
            @extend .center-align;
            span {
                // padding-left: 15px;
                font-family: $Archivo_Regular_font;
                font-size: 12px;
            }
        }
        .header6{
            width: 5%;
        }
    }
}

.re-games-list {
    // width: 500px;
    max-width: 100%;
    border: solid 1px #ccc;
    min-height: 60px;
    display: block;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    margin: 10px 20px;
    
}
.re-games-list-container{
    height: 480px;
    overflow-y: scroll;
}
.no_messages{
    height: 480px;
    @extend .center-align;

    span{
        width: 250px;
        text-align: center;
        font-family: Roboto_Regular;
        size: $default_font_size;
    }

}
.footerWrapper{
    display: flex;
    flex-direction: row;
    margin-top: auto;            
    align-items: center;
    justify-content: center;
    padding: 7px 0 2px 0;
    box-shadow: 0 -2px 4px #0000001f;
    z-index: 5;
    margin-bottom: 5px;
    position: relative;
    .chipDesign{
        height: 40px !important;
        width: 110px;
    }
}
.example-box {
    padding: 8px 5px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
        0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
    border: none;
}

.re-games-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-custom-placeholder {
    background: #ccc;
    border: dotted 3px #999;
    min-height: 60px;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}


::ng-deep .mat-menu-panel.gameListWrapper{
    width: 300px;
    height: 335px;
    overflow: hidden;
    .title{
        background-color: #3F55CA;
        color: white;
        padding:10px;
    }

    .search{
        .gameSearchBar{
            width: 100%;
            border: none;
            border-bottom: 1px solid #CCCCCC;
            height: 40px;  
            padding: 0 10px; 
        }
    }
    input:focus {
        outline: none;
    }
    .gameNames{
        height: 250px;
        overflow-y: scroll;
        overflow-x: hidden;
    }
}