<div class="dialogWrapper">
  <mat-toolbar class="header" color="primary">
    <div class="title">
      Missing Game Category
    </div>
  </mat-toolbar>
  <div class="content">
    Selecting a game category is required to unlock skill insights for your team. Please assign a game category to continue.
  </div>

  <mat-divider [vertical]="false" class="horizontal-divider"></mat-divider>

  <div class="button-row">
    
    <div class="btn-right">
      <button type="button" mat-button class="cancel-button"
        (click)="close()">OK</button>
    </div>     
  </div>
</div>