@import "../../../../styles.scss";

.games-wrapper {
  // height: calc(100vh-56px);
  // margin: 10px 40px 0px 40px;
  position: relative;

  @include media-breakpoint-down(sm) {
    padding: 10px 0px 0;
  }

  table {
    .header {
      height: 55px !important;
    }

    th:not(:first-child) {
      padding-left: 10px !important;
    }
  }



  .mlg-container-card {
    padding: 0px;
    margin-bottom: 10px;

    box-shadow: none;

    .title {
      font-size: 14px;
      margin-left: 10px;
      font-family: Roboto_Bold;
      margin-right: 5px;
      align-items: center;
    }
  }

  .mat-card-content {
    margin: 0;
    width: 100%;
    overflow: auto;
    //  min-height: $multilevel_container_height;
    //  height: $multilevel_container_height;
    //  max-height: $multilevel_container_height;
    border-top: 1px solid $mat_border_color;
    border-bottom: 1px solid $mat_border_color;
    // font-family: Roboto_Regular;
    // font-size: $text_size_med;

    .no_messages {
      padding: 0;
      width: 100%;
      height: 90%;
      text-align: center;
      padding-top: 20px;

      font: {
        family: Roboto_Regular;
        size: $default_font_size;
      }

      @extend .center-align;
    }
  }

  .mat-toolbar {
    padding: 0;
    padding-left: 0px;
    padding-right: 0px;
    border: none;
  }

  .toolbar {
    height: 40px;
    background-color: white;
    padding: 0px 15px;
  }

  .header {
    height: 40px;
    background-color: #EFEFEF;
    width: 100%;
  }

  .levelCount {
    font-family: Drukwide_Bold !important;
    font-size: 20px !important;
  }

  .action-cell {
    width: 70px;
  }

  .game-level {
    width: 80px;
  }

  .game-name {
    // max-width: 89px;
    width: 200px;
  }

  .logo-wrapper {
    width: 55px;
    height: 50px;
    display: flex;
    position: relative;
    margin: 2px 0;

    img {
      cursor: pointer;
      display: block;
      position: absolute;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      border: 5px solid white;
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.4), 0 1px 10px 0 rgba(0, 0, 0, 0.05),
        0 3px 5px -1px rgba(0, 0, 0, 0.27);
    }

    .mlg-logo {
      left: 0;
      bottom: 0;
      z-index: 1;
      background: white;
    }

    .game-icon {
      right: 5px;
      top: 0;
      border: none;
    }

    .logo {
      width: 50px !important;

      img {
        margin-right: 0 !important;
      }
    }
  }

  // .action-cell {
  //   width: 70px;
  // }

  .delete-icon {
    display: flex;
    justify-content: flex-end;
    color: #555;
  }
}

.img {
  width: 20px;
  margin-right: 16px;
}

.error_msg {
  min-height: 200px;
  background: #efefef;
  display: flex;
  justify-content: center;
  align-items: center;
}
