@import '../../../assets/main.scss';

section {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background-color: #efefef;
  @extend .center-align;
  
  .container {
    width: 60%;
    min-width: 320px;
    max-width: 500px;
    
  }
  
  .form-wrapper {
    .mat-progress-bar{
      border-radius : 8px 8px 0px 0px ;    
    }

    .loginForm {
      padding: 35px 50px 50px 50px;
    }
    background-color: $secondary_bg_color;
    margin: 0 auto;
    border-radius:  8px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05), 0 1px 10px 0 rgba(0, 0, 0, 0.05), 0 3px 5px -1px rgba(0, 0, 0, 0.05);  
      @include media-breakpoint-down(sm){
      min-height: 350px;
    }

    .logo {
        width: 70%;
        max-width: 320px;
        margin-bottom: 20px;
    }

    form {
        margin: 0;
        width: 100%;
        .forgot_password{
          @extend .align-button;
          padding: 10px 20px;
          text-align: right;
          color: $forgot_password_text;
          outline: none;
          font-size: $text_size_small;
          -webkit-transition: 0.3s all;
          -moz-transition: 0.3s all;
          -o-transition: 0.3s all;
          -ms-transition: 0.3s all;
          transition: 0.3s all;
          cursor: pointer;
          mat-icon {
            padding-right: 10px;
            font-size: 20px;
          }
        }
        div {
          position: relative;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;

          .submit_icon {
            position: absolute;
            right: -5px;
            vertical-align: middle;
            outline: none;
            border-radius: 50%;
            &:focus{
              color: $brand_color
            }
            cursor: pointer;
            mat-icon{
              color: $brand_color;
              font-size: 18px;
            }
            &:disabled{
              mat-icon{
                color: #eaeaea;
              }
            }
          }
        }

        .mat-form-field-invalid .mat-input-element,
        .mat-warn .mat-input-element {
          color: yellow !important;
        }

        input:-webkit-autofill,
        input:-webkit-autofill:active,
        input:-webkit-autofill:focus,
        input:-webkit-autofill:hover {
          transition: background-color 5000s ease-in-out 0s;
        }
    }

    .errorMsg {
        text-align: start;
        color: red;
        height: 15px;
        font-size: $text_size_small;
        font-family: Roboto_Regular;
        display: flex;
        justify-content: flex-start;
        margin: 0 10px;
    }
  }
  //Animation
  .slideDown {
    animation-name: slideDown;
    animation-duration: 0.5s;
  }
  @keyframes slideDown {
    0% {
      transform-origin: 0 0;
      transform: translateY(-50%);
    }

    100% {
      transform-origin: 0 0;
      transform: translateY(0%);
    }
  }

  .slideDownReturn {
    animation-name: slideDownReturn;
    animation-duration: 0.5s;
    z-index: 2;
  }
  @keyframes slideDownReturn {
    0% {
      transform-origin: 0 0;
      transform: translateY(50%);
    }

    100% {
      transform-origin: 0 0;
      transform: translateY(0%);
    }
  }
  .background-visibility{
    opacity: 0.2 ;
    
  }


}
