<section>
<div class="container">
  <div class="row form-wrapper">
    <mat-progress-bar class="progress-bar" mode="indeterminate" *ngIf="is_loading"></mat-progress-bar>
    <form class="loginForm" #loginForm="ngForm" [ngClass]="{'disabled-style': is_loading}">
      <div>
        <img src="/assets/img/login-logo.png" alt="1huddle" class="logo">
      </div>
      <div>
        <input type="password" class="secondary-input" autocorrect="off" minlength="4" maxlength="32"
          autocapitalize="off"  spellcheck="false" id="confirmPassword" name="useremail" [(ngModel)]="confirmPassword"
          placeholder="New Password" (input)="updatePassword()" required> 
      </div>
      <div>
        <input type="password" class="secondary-input" autocomplete="off" autocorrect="off" minlength="4" maxlength="32"
          autocapitalize="off" spellcheck="false" id="confirmNewPassword" name="userpassword" [(ngModel)]="confirmNewPassword"
          placeholder="Confirm Password" (input)="updatePassword()" required>
        <button type="submit" class="submit_icon" *ngIf="!is_loading" mat-icon-button [disabled]="!loginForm.valid" (click)="resetPassword()">
          <mat-icon>arrow_forward_ios</mat-icon>
        </button>
      </div>
      <p class="errorMsg" *ngIf="isError" [ngClass]="{'slideDown': isError}">{{errorMessage}}</p>
    </form>
  </div>
</div>

</section>