<section class="master-wrapper">
  <mat-toolbar class="small-toolbar" color="primary">
    <div>{{'rules' | translate}}</div>
    <mat-icon class="cancel-icon" (click)="cancel()" *ngIf="!is_editable">close</mat-icon>
  </mat-toolbar>
  <div class="wrapper">

    <div class="main-container">
      <form #ruleForm="ngForm" style="height: 100%;">
        <div class="rules-wrapper">
          <div class="label-container">
            <label for="rules">{{'add_additional_details' | translate}}</label>
            <label class="updating-message" *ngIf="is_updating">{{ 'saving_changes' | translate }}</label>
          </div>
          <textarea class="contest-rules" name="contest-rules" placeholder="{{'rules_placeholder_title' | translate}}"
            [(ngModel)]="rules" tabindex="-1" maxlength="1000" appValidateInput [readonly]="!is_editable"></textarea>
        </div>
      </form>
    </div>
    <div class="button-row" *ngIf="is_editable">
      <div class="btn-right">
        <button type="button" mat-button class="cancel-button" tabindex="-1"
          (click)="cancel()">{{'cancel_uppercase' | translate}}</button>
      </div>
      <div>
        <button type="submit" mat-button (click)="saveRules()" [disabled]="ruleForm.pristine || !rules.length">
          {{'done_uppercase' | translate}}
        </button>
      </div>
    </div>
  </div>
</section>