@import '../../../styles.scss';

.wrapper {
    @include media-breakpoint-down(xs){
        width: 280px;
    }
    .small-toolbar {
        height: 50px;
        font-size: 18px;
    }
    width: 500px;
    ::ng-deep  .list-selection-container .listItem-checkbox {
        max-height: 300px !important;
    }
    .button-row {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        border-top: 1px solid #ddd;
     
        .cancel-button{
            border:0px;
            background: white;
            cursor: pointer;
        }
    }

    ::ng-deep .mat-tab-header {
        display: none !important;
    }

    .list-container {
        min-height: 300px;
        display: flex;
        flex-direction: column;
        app-list-selection {
            flex: 1;
        }

        .header-container {
            background: #efefef;
            padding: 5px 20px;
            font-size: 14px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .search-container {
            display: flex;
            align-items: center;
            padding: 0 15px;
            border-bottom: 1px solid #efefef;
            .search {
                width:100%;
                margin-left: 10px;
            }
        }

        .item-container {
            margin: 10px 0 20px 0;
            display: flex;
            padding: 20px;
            @include media-breakpoint-down(xs){
                flex-direction: column;
                }
            .label {
                min-width: 80px;
                font-family: Roboto_Bold;
                margin-right: 10px;
                font-size: 14px;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                @include media-breakpoint-down(xs){
                    margin-left: 4px;                    
                    }
            }
            input {
                flex: 1; 
                padding-left: 10px;
                @include media-breakpoint-down(xs){
                padding-left: 0;                    
                }
            }
            .attempts-field {
                flex: 1;
            }  
        }
    }

    .footer {
        display: flex;
        align-items: center;
        background: #ffe26c;
        font-size: 12px;
        padding: 5px;

        mat-checkbox {
            margin: 10px 10px 0 5px;
        }
    }
}