$selected_bg_color: #f6f6f6;

$textColor:#525252;
$breadcrumb_text_color: #777;
$add-filter-icon-color: #555;
$add-filter-color: #888;
$border-color: #555;
$textMidGrey: #333;
$primary_bg_color:#EFEFEF;
$secondary_bg_color:#FFFFFF;
$border_color:#dddddd;
$box-shadow:0 1px 1px 0 rgba(0, 0, 0, 0.05), 0 1px 10px 0 rgba(0, 0, 0, 0.05), 0 3px 5px -1px rgba(0, 0, 0, 0.05);
$sidenav-hover:#f0f2f3;
$selected:#d2eaf7;

$mat_border_color:#eae9e9;
$search_color:rgba(0,0,0,.87);
$header_color:#3856D1;
$place_holder_color: #999696;
$midGrey: #ccc;
$disable_color: #a0a0a0;
$add_icon_background:#3856D1;
$add_icon: #ffffff;
$forgot_password_text:#656565;
$brand_color: #3856D1;
// $brand_color: #152C81;
$user-image-bg: #e6e6e6;
$delete_btn_color: #FF5757;
$invalid-input: #a94442;
$background-overlay: rgba(0, 0, 0, 0.5);