// $roboto_bold:"Roboto-Bold.ttf";
// $roboto_regular:"Roboto-Regular.ttf"

@font-face {
    font-family: Roboto_Black;
    src: url("/assets/fonts/Roboto-Black.ttf")
}
@font-face {
    font-family: Roboto_Bold;
    src: url("/assets/fonts/Roboto-Bold.ttf")
}

@font-face {
    font-family: Roboto_Regular;
    src: url("/assets/fonts/Roboto-Regular.ttf")
}

@font-face {
    font-family: Roboto_Medium;
    src: url("/assets/fonts/Roboto-Medium.ttf")
}
@font-face {
    font-family: Drukwide_Bold;
    src: url("/assets/fonts/DrukWide-Bold-App.ttf")
}

@font-face {
    font-family: Archivo_Bold;
    src: url("/assets/fonts/Archivo/Archivo-Bold.ttf")
}

@font-face {
    font-family: Archivo_Black;
    src: url("/assets/fonts/Archivo/ArchivoBlack.otf")
}
@font-face {
    font-family: FaktPro_Black;
    src: url("/assets/fonts/Fakt/FaktPro-Black.ttf")
}

@font-face {
    font-family: FaktPro_Medium;
    src: url("/assets/fonts/Fakt/FaktPro-Medium.ttf")
}

@font-face {
    font-family: Archivo_Regular;
    src: url("/assets/fonts/Archivo/Archivo-Regular.ttf")
}



// @font-face {
//    font-family: Bariol_Bold_Italic;
//    src: url('assets/fonts/Bariol_Bold_Italic.otf');
// }