$normal_padding: 100px;
$drawer_width: 275px;
$text_size_small : 12px;
$text_size_med : 13px;
$default_font_size: 14px;
$text_size_medium : 18px;
$header_height: calc(100vh - 114px);
$gameBuilder-height:calc(100vh - 150px);
$gameBuilder-inner-height:calc(100vh - 170px);
$masterReport-inner-height:calc(100vh - 170px);
$header_with_tab_height: calc(100vh - 150px);
$company_content_height: calc(100vh - 270px);
$shop_report_height: calc(100vh - 219px);
$scheduler_content_height: calc(100% - 48px);
$company_content_question_list_height: calc(100vh - 400px);
$player_report_height: calc(100vh - 113px);
$player_game_report_height: calc(100vh - 226px);
// $dashboard_height: calc(100vh - 112px);
$dashboard_height: calc(100vh - 200px);
$notifications_height: calc(100vh - 150px);

$notifications_height: calc(100vh - 112px);
$contest_content_height: calc(100vh - 246px);
$contest_container_height: calc(100vh - 190px);
$game_category_container_height: calc(100vh - 180px);
$multilevel_container_height: calc(100vh - 215px);
$row_height: 50px;
$Roboto_Bold_font:Roboto_Bold, sans-serif;
$Roboto_Black_font:Roboto_Black,sans-serif;
$Roboto_Regular_font:Roboto_Regular,sans-serif;
$Roboto_Medium_font:Roboto_Medium,sans-serif;
$Drukwide_Bold_font:Drukwide_Bold,sans-serif;
$Archivo_Bold_font: Archivo_Bold,sans-serif;
$Archivo_Black_font:Archivo_Black,sans-serif;
$FaktPro_Black_font:FaktPro_Black,sans-serif;
$Archivo_Regular_font:Archivo_Regular,sans-serif;
