@import "../../../../styles.scss";

.main-container {
  width: 500px;
  height: 245px;
  position: relative;
  overflow: hidden;
  font-family: $Roboto_Regular_font;
  @include media-breakpoint-down(sm) {
    width: 337px;
  }
  

  .small-toolbar {
    height: 50px;
    font-size: 16px;
  }

  .form-inputs {
    // margin: 12px 0;
    margin-top: 15px;
  }

  .error-msg {
    // min-width: 150px;
    // max-width: 500px;
    width: 100%;
    padding-left: 12px;
  }
  .add-description {
    height: 70px;
    padding-left: 11px;
    margin: 0;
    width: 100%;
    font-size: 14px;
    font-family: $Roboto_Regular_font;
    // border: 1px solid #ccc;

    ::placeholder {
      font-family: $Roboto_Regular_font;
      font-size: 14px;
        color: #ccc;
    }
}
  .add-series-content {
    height: 200px;
    font-family: $Roboto_Regular_font;


    form {
      height: 100%;

      .container {
        display: flex;
        flex-direction: column;
        padding: 12px 20px;
        height: 100%;
        justify-content: space-between;

        .button-row {
          width: auto;
          display: flex;

          .btn-right {
            margin-left: auto;
          }

          .cancel-button {
            border: 0px;
            // margin-right: 10px;
            // background: white;
            cursor: pointer;
          }
        }
      }
    }
  }

  .next-button {
    &:disabled {
      cursor: auto !important;
    }
  }

  .container>* {
    width: 100%;
  }
}