@import '../../../styles.scss';

.container-wrapper {
  height: calc(100vh - 103px);
  position: relative;
}

.wrapper {
  //   padding: 20px 10px 0;
  //   height: $header_height;
  //   max-height: $header_height;
  overflow: auto;
  position: relative;

  @include media-breakpoint-down(sm) {
    padding: 10px 0px 0;
  }

  .container-card {
    padding: 0px 20px;
    padding-top: 26px;
    height: calc(100vh - 93px);
    background: #EFEFEF;
    border: none;
    box-shadow: none;
    border-radius: 5px;
    margin: 0 50px;
    //  padding: 0px;
    // height: $header_height;
    // max-height: $header_height;
    padding: 0;
    @include i-pad-design-with-btn;

    @include media-breakpoint-down(sm) {
      margin: 0 10px;

    }

    .toolbar {
      width: 100%;
      background-color: #fff;
      align-items: center;
      height: 50px;
      margin: 15px 0;

      .title {
        font-size: 18px;
        margin-left: 10px;
        font-family: Roboto_Bold;
        margin-right: 5px;
      }

      .box {
        display: flex;
        padding: 5px;
        align-items: center;

      }

      .open-border {
        height: 100%;
        border: 1px solid #3B57DA;
        //margin: 5px 5px 5px 0px !important;

      }
      .info{
        cursor: pointer;
        padding-bottom: 5px;
      }

      .info-icon {

        //margin-left: 3px;
        margin-top: 8px;
        cursor: pointer;

      }

      .open-Message {

        display: flex;
        //margin-top: 7px ;
        margin-left: 3px;
        align-items: center;

        .message {
          margin-left: 3px;
          font-family: Roboto_Regular;
          color: #1C1C1C;
          font-size: 16px;
          //font-family: Roboto_Medium; 
        }

        .cancel-icon {
          cursor: pointer;
          margin-top: 6px;
          margin-left: 13px;
          padding: 3px 3px;
        }

      }
    }
    .mlg-container-card {
      padding: 0px;
      margin-bottom: 10px;
  
      .title {
        font-size: 14px;
        margin-left: 10px;
        font-family: Roboto_Bold;
        margin-right: 5px;
        align-items: center;
      }
    }
    .msg_toolbar {
      height: 49px;
      background-color: white;
      padding: 0px 15px;
    }

    .no_messages {
      padding: 0;
      width: 100%;
      height: 100px;
      text-align: center;
      padding-top: 20px;
      background-color: #EFEFEF;

      font: {
        family: Roboto_Regular;
        size: $default_font_size;
      }
    }
  }

}
