@import "../../../../styles.scss";

.content-wrapper-right {

    background: #fff;
    height: 480px;

    .mlg-leaderboard {
        min-height: 480px;
        max-height: 480px;
        overflow-y: auto;
    }

    table td:nth-child(2) {
      padding-left: 1px !important;
    }

    .column-space {
        @include media-breakpoint-down(sm) {
            padding-right: 45px;
        }
    }

    table {

        .mat-header-row {
            height: 50px;
        }

        th {
            font-size: 16px;
            background-color: #fff !important;
            font-family: $Archivo_Regular_font;

            @include media-breakpoint-down(lg) {
                font-size: 14px !important;
            }

            @include media-breakpoint-down(md) {
                font-size: 11px !important;
            }

            @include media-breakpoint-down(xs) {
                font-size: 12px !important;
            }
        }

        .player-rank-holder {
            width: 80px;
        }

        .player-logo-holder {
            width: 60px;
        }

        .games-played-holder {
            width: 150px;
        }

        .points-holder {
            width: 150px;
        }

        .text-align-center{
            text-align: center;
            padding: 0 4px;
        }

        // .points-column {
        //     width: 65px;
        // }

        td {
            font-size: 14px;
            font-family: $Roboto_Medium_font;

            @include media-breakpoint-down(lg) {
                font-size: 13px !important;
            }

            @include media-breakpoint-down(md) {
                font-size: 11px !important;
            }

            @include media-breakpoint-down(xs) {
                font-size: 11px !important;
            }
        }

        .player-name-holder {
            max-width: 188px;
            overflow: hidden;
            text-overflow: ellipsis;

            @include media-breakpoint-down(md) {
                max-width: 158px;
            }

            @include media-breakpoint-down(xs) {
                max-width: 115px;
            }
        }

        .custom-width {
            overflow: hidden;
            text-overflow: ellipsis;

            @include media-breakpoint-up(lg) {
                max-width: 106px;
            }

            @include media-breakpoint-down(xs) {
                max-width: 92px;
            }

            @media (min-width: 1920px) and (max-width: 2560px) {
                max-width: 188px;
            }
        }

        tr:hover {        
            cursor: auto !important;
            background-color: unset !important;
        }
        .AddHover{
            &:hover {
                background-color: #f5f5f5 !important;
                cursor: pointer !important;
            }
            // cursor: auto !important;
            // background-color: unset !important;
        }

        .status-holder {
            width: 75px;

            .status-content {
                position: relative;
            }
        }

        td.mat-cell:last-of-type, 
        td.mat-footer-cell:last-of-type,
        th.mat-header-cell:last-of-type {

            @include media-breakpoint-down(md) {
                padding-right: 11px;
            }
        }
    }
    tr.game-row {
        border-bottom: 2px solid transparent !important;
        cursor: pointer !important;
    }

    .no_messages {
        padding: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        padding-top: 20px;

        font: {
          family: Roboto_Regular;
          size: $default_font_size;
        }

        @extend .center-align;
      }
}

.player-logo {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid #eae9e9;
    margin-top: 5px;

    @include media-breakpoint-down(sm) {
        height: 25px;
        width: 25px;
        margin: 0px;
    }

}

.player-status-logo {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid #eae9e9;
    margin-top: 5px;

    @include media-breakpoint-down(sm) {
        height: 25px;
        width: 25px;
        margin: 0px;
    }
}

.button-row {
    width: auto;
    display: flex;
    padding: 8px 0;
    background: #fff;
    box-shadow: 0px 1px 4px 1px #00000029;

    .error-msg {
        width: 100%;
        padding-left: 25px;
        padding-top: 5px;
    }

    .btn-right {
      margin-left: auto;
    }

    .cancel-button {
      border: 0px;
      cursor: pointer;
    }
}

 