<div class="main-container">
    <mat-toolbar class="small-toolbar" color="primary">
      {{titleToBeDisplayed}}
    </mat-toolbar>
    <mat-progress-bar class="progress-bar" mode="indeterminate" *ngIf="is_loading"></mat-progress-bar>
    <section class="add-pathway-content" [ngClass]="{'disabled-style': is_loading}">
      <form #addPathwayForm="ngForm">
        <div class="container">
          <div class="input-text">
            <input type="text" class="holder form-inputs" placeholder="{{'enter_pathway_name' | translate}}"
              name="pathway_name" (input)="pathwayChanged()" [(ngModel)]="pathway.pathway_name" maxlength="20"
               minlength="1" appValidateInput required>
            <mat-error class="error-msg" *ngIf="pathwayExist">
              {{'pathway_already_exists' | translate}}
            </mat-error>
          </div>
          <div class="button-row">
            <div class="btn-right">
              <button type="button" mat-button class="cancel-button" tabindex="-1"
                (click)="cancel()">{{'cancel_uppercase' | translate}}</button>
            </div>
            <div>
              <button type="button" mat-button class="save-button" tabindex="-1" (click)="addPathway()" *ngIf="!editMode"
                [disabled]="!addPathwayForm.valid || !addPathwayForm.dirty">{{'save_uppercase' | translate}}</button>
              <button type="button" mat-button class="save-button" tabindex="-1"
                [disabled]="!addPathwayForm.valid || !addPathwayForm.dirty" (click)="updatePathway(pathway)"
                *ngIf="editMode">{{'save_uppercase' | translate}}</button>
            </div>
          </div>
        </div>
      </form>
    </section>
  </div>
  